Űrlapkitöltés érkezett az alábbi adatokkal:<br><br>
                        <span style="font-weight:bold; padding:16px; color: #131647;">Név: </span>{{ senderName }}<br>
                        <span style="font-weight:bold; padding:16px; color: #131647;">Email cím:</span> {{ senderEmail }}<br>
                        <span style="font-weight:bold; padding:16px; color: #131647;">Tárgy: </span> {{ subject }}<br>
                        <span style="font-weight:bold; padding:16px; color: #131647;">Üzenet: </span> {{ message }}<br>
                        <span style="font-weight:bold; padding:16px; color: #131647;">Kitöltés dátuma: </span>{{ date_format }}<br>